<app-side-bar></app-side-bar>

<div class="content-wrapper">
    <div class="main-container">
        <!-- Sidebar 
        <div class="side-bar">
            <h3 style="font-family: 'Times New Roman', Times, serif;">Commun </h3>
            <ul class="nav-list">
                <li id="menuLeft"><a >Centrale <i class="fas fa-lock-open" style="color: lightgreen;"></i></a></li>
                <li id="menuLeft"><a >Confidentiel <i class="fas fa-lock" style="color: lightcoral;"></i></a></li>
                <li id="menuLeft"><a >Mr Test <i class="fas fa-lock-open" style="color: lightgreen;"></i></a></li>
                <li id="menuLeft"><a >Mme Test <i class="fas fa-lock-open" style="color: lightgreen;"></i></a></li>
                <li id="menuLeft"><a >Series & film <i class="fas fa-lock" style="color: lightcoral;"></i></a></li>
                <li id="menuLeft"><a >Virus <i class="fas fa-lock" style="color: lightcoral"></i></a></li>
            </ul>
        </div>
        -->
        <!-- Main Content -->
        <div class="content">
            <div class="file-manager">
                <div class="littleHeader">
                    <nav class="navbar navbar-expand-sm navbar-light bg-light">
                        <div class="container">
                            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="collapsibleNavId">
                                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                                    <li class="nav-item ml-2">
                                        <button class="btn btn-primary d-flex justify-content-center align-items-center"
                                            title="Importer un ou plusieurs fichier" style="height: 100%; width: 50px;"
                                            (click)="openUploadDialog()">
                                            <i class="fas fa-file-upload" style="font-size: 25px;"></i></button>
                                    </li>
                                    @if(selectedFilees.length>0){
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId"
                                            data-bs-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">({{selectedFilees.length}}) elements sélectionner</a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                                            <a class="dropdown-item" (click)="cancelAllSelected()" >Annuler selection</a>
                                            <a class="dropdown-item" (click)="deleteAllSelected()">Supprimer les fichiers selectionner</a>
                                            <a class="dropdown-item" (click)="downloadAllSelected()">Telecharger les fichiers selectionner</a>
                                        </div>
                                    </li>
                                    }
                                </ul>
                                <div class="d-flex my-2 my-lg-0">
                                    <input class="form-control me-sm-2" type="text" [(ngModel)]="searchTerm"
                                        placeholder="Rechercher ..." (input)="searchInput()"
                                        [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="file-grid" style="height: 86vh; overflow-y: auto;">
                    @for (file of filteredFiles; track $index) {
                    <div id="fileRow" [ngClass]="onToggleClass(file)"  (mousedown)="startSelection(file)"
                        (mouseup)="endSelection(file)" (mouseleave)="cancelSelection()" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        @if(file.type == "image\/jpeg" || file.type == "image\/gif" || file.type == "image\/png" ||
                        file.type == "image\/x-icon"){
                        <i class="fa fa-file-image" id="fileIco"></i>
                        }@else if (file.type == "application\/vnd.openxmlformats-officedocument.spreadsheetml.sheet") {
                        <i class="fas fa-file-excel" id="fileIco" style="color: green;"></i>
                        }@else if(file.type == "text\/plain" || file.type == "application\/x-msdownload"){
                        <i class="fas fa-file-alt" id="fileIco"></i>
                        }@else if(file.type == "video\/mp4"){
                        <i class="fas fa-file-video" id="fileIco"></i>
                        }@else if(file.type == "application\/pdf"){
                        <i class="fas fa-file-pdf" id="fileIco" style="color: lightcoral"></i>
                        }@else if(file.type == "application\/x-compressed"){
                        <i class="fas fa-file-archive" id="fileIco" style="color: rgba(128, 0, 128, 0.61)"></i>
                        }@else if(file.type ==
                        "application\/vnd.openxmlformats-officedocument.presentationml.presentation"){
                        <i class="fas fa-file-powerpoint" id="fileIco" style="color: rgba(226, 130, 19, 0.61)"></i>
                        }@else if(file.type ==
                        "application\/vnd.openxmlformats-officedocument.wordprocessingml.document"){
                        <i class="fas fa-file-word" id="fileIco" style="color: rgba(44, 75, 253, 0.61)"></i>
                        }@else {
                        <i class="fas fa-file" id="fileIco"></i>
                        }

                        <span style="color: black;">{{formatNom(file.nom)}}</span>

                    </div>
                    <div class="dropdown-menu" aria-labelledby="triggerId">
                        <button class="dropdown-item" (click)="Download(file.chemin)"><i
                                class="fas fa-download mr-2"></i>Télecharger</button>
                        <button class="dropdown-item" style="color: red;" (click)="deleteFile(file.id,file.nom)"><i
                                class="fa fa-trash mr-2" style="color: red;" aria-hidden="true"></i>Supprimer</button>
                        <button class="dropdown-item" (click)="showProperty(
                            file.nom, file.chemin, file.uploaders, file.taille,file.dateUpload,
                            file.statut, file.type
                        )"><i class="fas fa-toolbox mr-2"></i>Propriété</button>

                    </div>
                    }@empty {
                    <div class="no-result">
                        <p class="text-center" style="color: rgba(128, 128, 128, 0.541);">Désolé, fichier introuvable 😟
                        </p>
                    </div>

                    }

                </div>

            </div>
        </div>

    </div>
</div>
