#chat2 .form-control {
    border-color: transparent;
}

#chat2 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.card-body {
    height: 81vh;
    position: relative;
    overflow-y: scroll;

}

.right fa-icon {
    margin-right: 5px;
    margin-left: 5px;
}

.card-header {
    background-color: #1AA7EC;
}

.btnCollapse{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-left: -17px; 
}
.container {
    padding: 0;
}

.chat-container {
    margin-left: 70px;
    /* Laisser de la place pour la barre latérale */
    width: calc(100% - 70px);
}

@media screen and (max-height:721px) {
    .card-body {
        height: 70vh;
    }
}

@media screen and (max-height: 580px) {
    .card-body {
        height: 60vh;
    }
}

@media screen and (max-height:485px) {
    .card-body {
        height: 50vh;
    }
}

@media screen and (max-width:600px){
    .chat-container{
        margin-left: 0;
        width: 100%;
    }
}

.pdp{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #1AA7EC;
    overflow: hidden;
}

.pdp img{
    width: 100%;
    height: 100%;
}